
.BackgroundImage{
    background-color: #1d2a3b;
    height: 505px;
    width: 100%;
}
.nav_bar{
    margin-top: -510px;
}

.Logo{

     margin-left: 50px;

    width: 83px;
    height: 32px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.96px;
    text-align: left;
    color: #04a2fd;
}

.toolbar_navigation-item{
    margin-left: 550px;
    margin-top: -45px;

}

.toolbar_navigation-item lu {
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.toolbar_navigation-item li{
    padding:  0 1.5rem;
    font-size: 20px;
    font-family: Roboto;
}
.toolbar_navigation-item a{
    color:white;
    text-decoration: none;

}

.toolbar_navigation-item a:hover{
    color: red;
}
.toolbar_navigation-item a:active{
    color:yellow;
}