.m{
    margin-top: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.title1{
    margin-left: 10px;
}
.textTitle{
    margin-left:-30px;
    margin-top: -15px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.textTitle1{
    margin-left:-78px;
    margin-top: -15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.text1{
    margin-left: 10px;
}

.TrialButton{
    width:80px;
    height:30px;
    background-color:#00aeef;
    color:white;




}

.title-member{
    margin-top: 80px;
    text-align: center;
    font-family: Lato;
    font-size: 46px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.87;
    letter-spacing: normal;
    color: #1d2a3b;
}

.name-title{
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
}
.name-work{

    margin-top: -14px;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #00aeef

;
}

.our-member{
    margin-top:60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    align-content: stretch;

}

.our-member-item{
    text-align: center;
}
.our-member-item1{
    text-align: center;
    margin-left:110px;
}

.hiring-section{
    display: flex;
    margin-top:100px


}

.hiring-image{
    margin-left:100px ;
}

.hiring-apply{
   margin-left:200px;
    margin-top: 70px;
}

.hiring-text{
    font-family: Lato;
    font-size: 46px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.46;
    letter-spacing: normal;
    text-align: left;
    color: #252525;
}

.hiring-text1{
    font-family: Lato;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.82;
    letter-spacing: normal;
    text-align: left;
    color: #8b9094;
}

.Apply-button{
    margin-top: -12px;
    width: 140px;
    height: 48px;
    border-radius: 2px;
    background-color: #00aeef;
    border: none;
    color:#ffffff;
}

.email-section{
    width: 500px;
    height:50px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: #ffffff;
}

.email-input{
    border: none;
    /*margin-top: 25px;*/
    width: 400px;
    height:48px;
    border-radius: 2px;

    background-color: #ffffff;


}

.subscribe-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

